<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Need express static public to be initialized -->
    <h1>User List</h1>
    <table id="userTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
     
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user._id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <!-- <td><button onclick="deleteUser('<%- user._id %>')">Delete</button></td> -->
                </tr>
            <% }) %>
        </tbody>
    </table>
    <script src="/public/js/script.js"></script> <!-- Correct path -->
</body>
</html>
